.echarts-left {
    position: absolute;
    top: 53px;
    left: 0;
    width: 177px;
    height: 478px;
    background-color: #e7e7e7;
    overflow-y: scroll;

    ul {
        .echarts-left-li1:hover {
            color: #0083e8;
            background: #f5f5f5;

            & i {
                background: url('../images/阅读详情菜单-选中.png');
            }
        }

        .echarts-left-li11:hover {
            cursor: pointer;
            background: #fff;
        }

        .echarts-left-li1:hover {
            color: #0083e8;
            background: #f5f5f5;

            & i {
                background: url('../images/阅读详情菜单-选中.png');
            }

            .echarts-left-li2 {
                color: #666666;
                background: #e7e7e7;
            }


        }

        .echarts-left-li1 {
            display: inline-block;
            width: 177px;
            // height: 50px;
            line-height: 50px;
            font-family: MicrosoftYaHei;
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            letter-spacing: 0px;
            color: #666666;

            i {
                display: inline-block;
                width: 16px;
                height: 16px;
                background: url('../images/阅读详情菜单-未选中.png') no-repeat;
                margin: 0 8px 0 20px;
                vertical-align: text-bottom;

            }


            .echarts-left-li2 {
                display: inline-block;
                width: 177px;
                color: #666666;
                height: 50px;
                line-height: 50px;
                cursor: pointer;

                i {
                    background: url('../images/阅读详情菜单-节点.png') no-repeat center 5px;
                    margin: 0 4px 0 30px;
                }
            }

            .echarts-left-li-active {
                background: #fff;
                color: #0083e8;

                i {
                    background: url('../images/阅读详情菜单-节点-悬停.png') no-repeat center 5px;
                }

            }

            & .echarts-left-li2:hover {
                color: #0083e8;
                background: #fff;

                i {
                    background: url('../images/阅读详情菜单-节点-悬停.png') no-repeat center 5px;
                }
            }

            & .echarts-left-li-active:hover {
                background: #fff;
                color: #0083e8;

                & i {
                    background: url('../images/阅读详情菜单-节点-悬停.png') no-repeat center 5px;
                }

            }

        }

        .echarts-left-li-hover {
            color: #0083e8;
            background: #f5f5f5;

            i {
                background: url('../images/阅读详情菜单-选中.png');
            }

            .echarts-left-li2 {
                background: #e7e7e7;
            }
        }

        & .echarts-left-li-active {
            background: #fff !important;
            color: #0083e8 !important;

            & i {
                background: url('../images/阅读详情菜单-选中.png');
            }

        }

        .echarts-left-li-active:hover {
            background: #fff;
            color: #0083e8;
        }
    }




}

.echarts-left-li1:hover {
    .echarts-left-li2 {
        color: #666666;
        background: #e7e7e7;
    }


}

.echarts-right {
    position: absolute;
    top: 53px;
    right: 0;
    width: 79.7%;
    height: 477px;
    background: #fff;

    .echarts-right-ul {
        position: absolute;
        left: 0;
        right: 0;
        top: 22px;
        bottom: 0;
        margin: auto;
        text-align: center;

        .echarts-right-li {
            display: inline-block;
            width: 90px;
            height: 28px;
            text-align: center;
            line-height: 28px;
            background-color: #ffffff;
            background-image: url('../images/页面选项卡-未选中.png');
            font-family: MicrosoftYaHei;
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            letter-spacing: 0px;
            color: #0e95ed;
            cursor: pointer;

            margin: 0 16px 0 0;
        }

        .echarts-right-li-active {
            background-image: url('../images/页面选项卡-选中.png');
            height: 34px;
            color: #ffffff;
        }

        .echarts-right-li:last-child {
            margin: 0;
        }

        .echarts-right-li-unActive:hover {
            background-image: url('../images/页面选项卡-鼠标悬停.png');
        }
    }

    #main11 {
        position: relative;
        top: 50px;
    }

    .right-people-list {
        margin: 32px;

        & span {
            position: relative;
            top: 0;

            b {
                font-size: 14px;
                font-weight: normal;
                font-stretch: normal;
                letter-spacing: 0px;
                color: #ff6600;

            }
        }

        .right-people-ul {
            border-top: 1px solid #cccccc;
            border-bottom: 1px solid #cccccc;
            position: relative;
            top: 14px;
            height: 356px;

            li {
                margin: 20px 8px 0 0;
                float: left;
                width: 200px;

                i {
                    display: inline-block;
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    background-position: center;
                    background-size: contain;

                    margin: 0 8px 0 0;
                }

                p {
                    display: inline-block;
                    margin: 0;
                    height: 32px;
                    line-height: 32px;
                    max-width: 157px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;

                    b {
                        font-family: MicrosoftYaHei;
                        font-size: 14px;
                        font-weight: normal;
                        letter-spacing: 0px;
                        color: #999999;
                        margin-left: 3px;
                    }

                }

            }

        }

        .echarts-ant-Pagination {
            position: absolute;
            bottom: 10px;
            left: 50%;
            transform: translate(-50%, 0);
        }
    }

}

.echarts-height {
    height: 428px;

}
.echarts-bottom{
    position: absolute;
    bottom: 14px;
    right: 203px;
    font-family: MicrosoftYaHei;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #999999;
    b{
    font-weight: normal;
    font-stretch: normal;
    color: #f00;
    }
}