.search-div {
    display: inline-block;
    position: relative;
    .search-input {
        padding-left: 8px;
        width: 220px;
        height: 28px;
        background-color: #ffffff;
        border-radius: 14px;
        border: solid 1px #bac7d9;
        line-height: 28px;
    }

    .search-img {
        display: inline-block;
        position: absolute;
        width: 16px;
        height: 16px;
        top: 6px;
        right: 18px;
        cursor: pointer;
        background: url('../images/搜索图标-初始.png');
    }
    .search-img:hover{
        background: url('../images/搜索图标-悬停.png');
    }
    input:focus {
        border: 1px solid #91BBFE;
        outline: none;
    }
   

}