* {
    margin: 0;
    padding: 0;
}

.sidebar-all {
    background: #f5f5f5;
    height: 696px;

    .sidebar-middle {
        position: relative;
        top: 16px;
        width: 1200px;
        margin: 0 auto;
        z-index: 100;

        .sidebar-div {
            width: 240px;
            height: 48px;
            line-height: 48px;
            font-family: MicrosoftYaHei;
            font-size: 16px;
            font-weight: normal;
            font-stretch: normal;
            letter-spacing: 0px;
            color: #333333;
            cursor: pointer;

        }

        .sidebar-active {
            background-image: linear-gradient(90deg,
                    #ff4200 0%,
                    #ffab3d 100%),
                linear-gradient(#ffffff,
                    #ffffff);
            background-blend-mode: normal,
                normal;
            color: #ffffff;

            .sidebar-div-i1 {
                background: url("../images/菜单图标_已发通知-2.png");
            }

            .sidebar-div-i2 {
                background: url("../images/菜单图标_通知模板库-2.png");

            }
        }

        .sidebar-div-i1 {
            display: inline-block;
            width: 17px;
            height: 17px;
            background: url("../images/标题图标_已发通知.png");
            background-position: center;
            background-size: contain;
            margin: 0px 3px 4px 28px;
            vertical-align: middle;
        }

        .sidebar-div-i2 {
            display: inline-block;
            width: 17px;
            height: 17px;
            background: url("../images/标题图标_通知模板库.png");
            background-position: center;
            background-size: contain;
            margin: 0px 3px 2px 28px;
            vertical-align: middle;
        }


        .Noticeissued-all {
            position: absolute;
            right: 0;
            top: 0px;
            width: 944px;
            height: 680px;
            background-color: #ffffff;
            box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.03);
            border-radius: 12px;

            .Noticeissued-head {
                position: relative;
                margin: 19px 39px 9px 28px;

                span {
                    font-family: MicrosoftYaHei;
                    font-size: 18px;
                    font-weight: normal;
                    font-stretch: normal;
                    line-height: 50px;
                    letter-spacing: 0px;
                    color: #333333;

                    i {
                        display: inline-block;
                        width: 20px;
                        height: 20px;
                        background: url("../images/标题图标_已发通知.png");
                        margin:2px 8px 0 0 ;
                        vertical-align: text-top;

                    }
                }

                .search-div {
                    left: 560px;

                }


            }
            .Noticeissued-border{
                width: 888px;
                height: 1px;
                margin:0 0 13px 29px ;
                border-top: dashed 1px #cccccc;
            }
            table {
                margin: 0 36px;
                width: 872px;
                border: 0;
                border-collapse: collapse;
            }

            thead tr:nth-child(1) {
                width: 100%;
                height: 28px;
                background-color: #f5f5f5;
                line-height: 28px;
            }

            th {

                font-family: MicrosoftYaHei;
                font-size: 14px;
                font-weight: normal;
                font-stretch: normal;
                letter-spacing: 0px;
                color: #647e86;

            }

            tr:nth-child(1) th:nth-child(1) {
                text-align: left;
                padding-left: 35px;
            }

            tr {
                width: 872px;
                height: 48px;
                background-color: #ffffff;
                box-shadow: 0px 1px 0px 0px #ebebeb;
                text-align: center;
            }

            tr td {
                font-family: MicrosoftYaHei;
                font-size: 14px;
                font-weight: normal;
                font-stretch: normal;
                letter-spacing: 0px;
                color: #999999;
            }

            tr td:nth-child(1) {
                color: #0099ff;
                text-align: left;
            }

            tr td:nth-child(2) {
                color: #666666;
            }

            tr td:nth-child(5) {
                color: #333333;
            }

            tr td:nth-child(1) i {
                display: inline-block;
                width: 6px;
                height: 6px;
                background-color: #bcced6;
                border-radius: 2px;
                vertical-align: middle;
                margin: 0 13px 0 16px;
            }

            tbody tr:hover {
                background: #ebebeb;
            }
        }

        .notice-details {
            position: relative;

        }

        .notice-details i {
            position: absolute;
            right: 0;
            top: 20px;
            display: inline-block;
            width: 14px;
            height: 10px;
            background: url('../images/列表操作_详情.png');
            cursor: pointer;
        }

        .notice-details i:hover {
            background: url('../images/列表操作_详情-悬停.png');
        }

        .notice-null img {
            margin: 100px 0 0 300px;
        }

        .notice-null p {
            position: absolute;
            text-align: center;
            font-family: MicrosoftYaHei;
            font-size: 16px;
            font-weight: normal;
            font-stretch: normal;
            line-height: 48px;
            letter-spacing: 0px;
            color: #999999;
            top: 407px;
            left: 351px;
        }
    }
    .notice-ant-Pagination{
        position: absolute;
        bottom:25px;
        left: 49%;
        transform: translate(-50%,0);
    }
}