/*可以在这里添加你自己的css*/
img{
    max-width: 100%!important;
}
p,span,div{
    max-width: 100%;
    word-break: break-all;
}
@media screen and (max-width:1080px){
    table{
        width:100%;
    }
    audio{
        display:inline-block;
    }
}
video{
    max-width: 100%!important;
}
body{
    padding: 10px;
}
